@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    /* Gris casi blanco */
    --foreground: 222 47% 11%;
    /* Azul noche */
    --primary: 262 83% 58%;
    /* Violeta Sarasa */
    --primary-foreground: 210 40% 98%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --border: 214 32% 91%;
    /* Semáforo del Humómetro */
    --status-truth: 142 76% 36%;
    /* Verde Esmeralda */
    --status-warning: 48 96% 53%;
    /* Amarillo Alerta */
    --status-fake: 0 72% 51%;
    /* Rojo Fuego */
    --status-satire: 280 65% 60%;
    /* Violeta Místico */
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}